@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600&amp;display=swap");
*{
    font-family: 'Baloo Paaji 2';
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

:root{
    --grey : #F1F0F6;
    --dark-gray : #8D8D8D;
    --light : #FFF;
    --dark : #000;
    --green : #478e09;
    --light-green : #E3FFCB;
    --blue : #1775F1;
    --light-blue : #D0E4FF;
    --dark-blue : #0C5FCD;
    --red : #FC3B56;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--grey) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}



/* SIDEBAR  */

#sidebar{
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--green);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; 
    transition: all .3s ease;
    z-index: 200;
}

#sidebar::-webkit-scrollbar{
    display: none;
}

#sidebar.hide {
    max-width: 60px;
}

#sidebar.hide:hover {
    max-width: 260px;
}

#sidebar .brand{
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--light);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--green);
    transition: all .3s ease;
    padding: 0 6px;
}

#sidebar a img {
    width : 40px;
    height :40px;
    margin-left: 5px;
    margin-right: 10px;
}

#sidebar .icon{
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

#sidebar .icon-right{
    margin-left: auto;
    transition: all .3s ease;
}

#sidebar.hide .side-menu {
    padding: 0 6px;
}

#sidebar .side-menu{
    margin: 36px 0;
    padding: 0 20px;
    transition: all .3s ease;
}

#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}

#sidebar .side-menu >li > a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--light);
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}

#sidebar .side-menu >li > a:hover {
    background: var(--red);
}

#sidebar .side-menu >li > a.active .icon-right{
    transform: rotateZ(90deg);
}
#sidebar .side-menu >li > a.active,
#sidebar .side-menu >li > a.active:hover {
    background-color: var(--red);
    color: var(--light);
}

#sidebar .divider{
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-gray);
    transition: all .3s ease;
    white-space: nowrap;
}

#sidebar.hide .divider {
    text-align: center;
}

#sidebar.hide:hover .divider{
    text-align: left;
}

#sidebar .side-dropdown{
    padding-left: 20px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

#sidebar .side-dropdown.show{
    max-height: 2000px;
}

#sidebar .side-dropdown li {
    margin-bottom: 10px;
}

#sidebar .side-dropdown a {
    color: var(--light-blue);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sidebar .side-dropdown a:hover {
    color: var(--light);
}


#sidebar .wrapper{
    
    padding: 15px;
    border-radius: 10px;
    margin-top: 100px;
}

#sidebar .btn-upgrade {
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 0;
    color: var(--light);
    background: var(--blue);
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
    background: var(--red);
}


/* SIDEBAR  */



/* CONTENT  */

#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all .3s ease;
}

#sidebar.hide + #content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR  */

nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .toogle-sidebar{
    font-size: 18px;
    cursor: pointer;
}

nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

nav .form-group{
    position: relative;
}

nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}

nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue) 0 0 0 4px var(--light-blue);
}

nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-gray);
}

nav .nav-link{
    position: relative;
    cursor: pointer;
}

/* La messagerie  */

nav .nav-link .messageriemin {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    border-radius: 10px;
    width: 280px;
    height: auto;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

nav .nav-link .messageriemin.show {
    opacity: 1;
    pointer-events: visible;
}

nav .nav-link .messageriemin img {
    width: 39px;
    height: 39px;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
}

nav .nav-link .messageriemin .username {
    font-size: 16px;
    font-weight: bolder;
    color: var(--dark);
    margin-left: 23%;
    margin-bottom: -7px;
    padding: 0;
}

nav .nav-link .messageriemin .contenu {
    font-size: 14px;
    color: var(--dark);
    margin-left: 23%;
    margin-bottom: -5px;
}

nav .nav-link .messageriemin .temps {
    font-size: 12px;
    color: var(--dark-blue);
    margin-left: 23%;
    margin-bottom: 0px;
}

nav .nav-link .messageriemin hr {
    margin: 2px 0;
}

/* La messagerie Fin  */

nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}

nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-weight: 700;
}

nav .divider {
    width: 1px ;
    background: var(--grey);
    height: 12px;
    display: block;
}

nav .profile{
    position: relative;
}

nav .profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover ;
    cursor: pointer;
}

nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}

nav .profile .profile-link >li > a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
    transition: all .3s ease;
}

nav .profile .profile-link a:hover {
    background: var(--grey);
}

/* La notification  */

nav .nav-link .notif {
    position: absolute ;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    border-radius: 10px;
    width: 300px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

nav .nav-link .notif.show {
    opacity: 1;
    pointer-events: visible;
} 

nav .nav-link .notif .header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 3px var(--grey);
}

nav .nav-link .notif .btn-view {
    color: var(--blue);
    border: none;
    background: var(--light);
    font-size: 14px;
}

nav .nav-link .notif .body .ligne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1px var(--grey);
}

nav .nav-link .notif .body .ligne:hover {
    background: var(--grey);
}

nav .nav-link .notif .body .ligne p {
    color: var(--dark);
    font-size: 15px;
}

/* La notification fin  */

/* NAVBAR  */

/* MAIN  */

main {
    width: 100%;
    /* padding: 24px 10px 10px 20px; */
    padding-top: 20px;
}

main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}

main .breadcrumbs li,
main .breadcrumbs li a {
    font-size: 14px;
}

main .breadcrumbs li a {
    color: var(--blue);
}

main .breadcrumbs li a.active,
main .breadcrumbs li .divider {
    color: var(--dark-gray);
    pointer-events: none;
}

#footer{
    background: var(--light);
    position:fixed;
    height: 45px;
    padding: 15px;
    bottom: 0;
    left: 260px;
    width: calc(100% - 260px);
    transition: all .3s ease; 
}
#sidebar.hide + #footer {
    width: calc(100% - 60px);   
    left: 60px;
}


/* MAIN  */


/* PROFIL  */

.carte {
    background: var(--light);
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgb(170, 168, 168);
    padding: 15px 0px;
    margin: 0px 10px;
}

.carte a {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--dark);
}

.carte a:hover,
.carte a.active {
    background: rgba(255, 0, 0, 0.159);
    border-right: 5px solid rgba(255, 0, 0, 0.772);
    color: var(--red);
}

.header img {
    height: 100px;
    width: 100px;
}


/* PROFIL  */


/* CONTENT  */


@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        transition: all .3s ease;
    }
    
    nav .nav-link,
    nav .divider {
        display: block;
    }
    nav .form-group {
        display: none;
    }
    
    nav .nav-link .notif {
        right: -150px;
        width: 250px;
    }
    nav .nav-link .messageriemin {
        right: -100px;
        width: 250px;
    }
}